*{
    margin: 0;
    padding: 0;
}
html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.profile-picture{
    border-radius: 50%;
}
.wrapper{
    max-width: 50%;
    margin: 10px;
    min-height: 90%;
    background-color: white;
    border-radius: 10px;
}
.name{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2px;
}
.left, .right{
    background: lightblue;
    margin: 5px;
    max-width: 50%;

}
.left{
    float: left;
    border-radius: 10px 0 0 10px;
    width: 44%;
    min-height: 600px;
    padding: 15px;
    text-align: center;
}
.status{
    text-align: right;
    padding-right: 10px;
}
.right{
    padding: 15px;
    border-radius: 0 10px 10px 0;
    font-size: 13px;
    float: right;
    width: 44%;
    min-height: 600px;
}
.links{
    margin-top: 10px;
    list-style: none;
    text-align: center;
    font-size: 16px;
}
.links li{
    display: block;
    margin-right: 8px;
}
.links a{
    text-decoration: none;
    padding: 4px;
    color: darkslategray;
}
.links a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
body{
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.preferences_list{
    list-style: none;
    color: #2a2423;
}
span{
    color:  #2a2423;
}